<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs="hide">
        <button (click)="onToggleSidenav(sidenav)" mat-icon-button>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="home"
          ></mat-icon>
        </button>
      </div>
        <span>Summer Camp</span>
        <div fxHide.xs>
          <span class="material-symbols-outlined"> camping </span>
        </div>
      <span class="example-spacer"></span>
      <div class="example-button-row">
        <div fxHide.xs>
          <button
            *ngIf="!loggedInUser"
            mat-raised-button
            color="accent"
            routerLink="auth/startpage"
          >
            Kezdőlap
          </button>
          <button
            *ngIf="!loggedInUser"
            mat-raised-button
            color="accent"
            routerLink="auth/signin"
          >
            Bejelentkezés
          </button>
          <button
            *ngIf="!loggedInUser"
            mat-raised-button
            color="accent"
            routerLink="auth/signup"
          >
            Regisztráció
          </button>
          <button
            *ngIf="loggedInUser"
            mat-raised-button
            color="accent"
            routerLink="homem/home"
          >
            Főoldal
          </button>
          <button
            *ngIf="loggedInUser"
            mat-raised-button
            color="accent"
            routerLink="homem/camps"
          >
            Táboraink
          </button>
          <button
            *ngIf="loggedInUser"
            mat-raised-button
            color="accent"
            routerLink="homem/reservationhandler"
          >
            Foglalásaim
          </button>
          <button
            (click)="logout()"
            *ngIf="loggedInUser"
            mat-raised-button
            color="accent"
            routerLink="auth/startpage"
          >
            Kijelentkezés
          </button>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
