<div fxLayoutAlign="center">
  <mat-card
    fxFlex.sm="50"
    fxFlex.xs="100"
    fxFlex.md="50"
    fxFlex="42"
    class="card"
  >
      <mat-card-header>
        <div style="text-align: center; width: 100%">
          <mat-card-title>Válaszd ki az álmaid táborát</mat-card-title>
        </div>
      </mat-card-header>
      <mat-accordion>
        <mat-expansion-panel
          *ngFor="let campi of ELEMENT_DATA"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ campi.campname }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Ár: {{ campi.data.price }}</p>
          <p>Kezdés dátuma: {{ campi.data.startdate }}</p>
          <p>Végzés dátuma: {{ campi.data.enddate }}</p>
          <p>Helyszín: {{ campi.data.place }}</p>
          <p>Férőhely: {{ campi.data.houseroom }}</p>
          <button mat-raised-button color="primary" routerLink="/homem/reservation/{{campi.campname}}">Foglalás</button>
        </mat-expansion-panel>
      </mat-accordion>
  </mat-card>
</div>
