<div fxLayoutAlign="center">
  <mat-card
    fxFlex.sm="50"
    fxFlex.xs="100"
    fxFlex.md="50"
    fxFlex="42"
    class="card"
  >
    <form fxLayout="column" fxLayoutAlign="streth" class="example-form">
      <mat-card-header>
        <div style="text-align: center; width: 100%">
          <mat-card-title>Válaszd ki az álmaid táborát</mat-card-title>
        </div>
      </mat-card-header>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenStateWater = true"
                             (closed)="panelOpenStateWater = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              WaterLand
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenStateWater ? 'Ha esetleg másik tábort választana, akkor zárja be' : 'Több információhoz nyissa le'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Idekéne kiiratni a firebase szarokat</p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenStateForest = true"
                             (closed)="panelOpenStateForest = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              ForestLand
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenStateForest ? 'Ha esetleg másik tábort választana, akkor zárja be' : 'Több információhoz nyissa le'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Idekéne kiiratni a firebase szarokat</p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenStateAdventure = true"
                             (closed)="panelOpenStateAdventure = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              AdventureLand
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenStateAdventure ? 'Ha esetleg másik tábort választana, akkor zárja be' : 'Több információhoz nyissa le'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Idekéne kiiratni a firebase szarokat</p>
        </mat-expansion-panel>
      </mat-accordion>
      
    </form>
  </mat-card>
</div>
