<div fxLayoutAlign="center">
  <mat-card
    fxFlex.sm="50"
    fxFlex.xs="100"
    fxFlex.md="50"
    fxFlex="42"
  >
    <mat-card-header>
      <div style="text-align: center; width: 100%">
        <mat-card-title>Üdvözöllek a SummerCamp oldalán.</mat-card-title>
      </div>
    </mat-card-header>

    <div class="szoveg">
      <img class="kep" src="assets/images/summercamp.png" />
    </div>

    <div class="szoveg">
      Itt az ideje, hogy megszervezd álmaid nyarát pár kattintással válassz
      táboraink közül.
    </div>
    <div class="szoveg">
        Regisztráció után már is eltudod érni álmaid táborát.
    </div>

    <form fxLayout="column" fxLayoutAlign="streth" class="example-form"></form>
  </mat-card>
</div>
