form{
    padding: 20px;
}

@media only screen and (max-width: 800px) {
    .kep{
        width: 225px;
    }
  }

@media only screen and (min-width: 800px) {
    .kep{
        width: 150px;
    }
  }

.szoveg{
    text-align: center; 
    width: 100%; 
    margin: 5px; 
    padding: 5px;
}

.middle{
    padding: 0;
    margin: 0;
    
}
