<div fxLayoutAlign="center">
  <mat-card fxFlex.sm="50" fxFlex.xs="100" fxFlex.md="50" fxFlex="50">
      <form (ngSubmit)="onLogin()" [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="streth" class="example-form">
        <mat-card-header>
          <mat-card-title>Bejelentkezés</mat-card-title>
        </mat-card-header>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email"  matInput placeholder="example@gmail.com"/>
          <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">
            Kötelező kitölteni!
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">
            Adj meg egy valid email címet!
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Jelszó</mat-label>
          <input formControlName="pw" matInput placeholder="jelszo123" />
          <mat-error *ngIf="loginForm.get('pw')?.errors?.['required']">
            Kötelező kitölteni!
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Belépés</button>
      </form>
  </mat-card>
</div>
