<div fxLayoutAlign="center">
  <mat-card fxFlex.sm="50" fxFlex.xs="100" fxFlex.md="50" fxFlex="50">
    <mat-card-header class="login">
      <div style="text-align: center; width: 100%">
        <mat-card-title>Ez az oldal nem elérhető.</mat-card-title>
      </div>
    </mat-card-header>
    <div style="text-align: center; width: 100%; margin: 5px; padding: 5px; ">
        Ellenőrizze, hogy van-e elírás a domainnévben.
      </div>
      <div style="text-align: center; width: 100%; margin: 5px; padding: 5px;">
        <img class="kep" src="assets/images/notfound.png" />
      </div>
  </mat-card>
</div>
